{% extends "layout.twig" %}
{% block title %}Product List{% endblock %}

{% block heading %} <h1>Product List</h1> {% endblock %}

{% block buttons %}

    <button class="success-button">
        <a  href="/add-product">Add</a>
    </button>
    <button class="delete-product-btn" type="submit" form="delete_form">
        Mass Delete
    </button>

{% endblock %}


{% block content %}
    <form class="product-container" id="delete_form" method="post" action="/delete">
        {% for product in products %}
            <div class="product">
                <input class="delete-checkbox" type="checkbox" id="vehicle1" name="delete[]" value="{{ product.sku }}">
                   <div class="attribute-list">
                    <p>{{ product.sku }}</p>
                    <p>{{ product.name }}</p>
                    <p>{{ product.price }}</p>
                    {% for key,attribute in product.customAttributes %}
                        <p>{{ key }}: {{ attribute }}</p>
                    {% endfor %}
                   </div>

            </div>
        {% endfor %}
    </form>
{% endblock %}